<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Ecofoam</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> About Ecofoam </h1>
    <p> </p>
    <h2> A SELF-DRIVEN TEAM</h2>
    <p> As a group of twelve inspired teenagers, we find ourselves enveloped in the goal of creating a sustainable future free of the plastic from packaging industries that warps us and our mother Earth.</p>
    <div class="right">
      <p>Nitya Arora</p>
      <img src="/images/nitya.png"/>
      <p>Nitya is a student at Singapore American School with a passion for producing solutions that work towards environmental sustainability. 
        As President of Plastofoam, and with experience in molding, designing, and  creating technology solutions, Nitya brings direction to the reinvention of Plastofoam's customized products.</p>
    </div>
    <div class="left">
      <p>Tanisha Mehta</p>
      <img src="/images/tanisha.png"/>
      <p>Tanisha is a student at Singapore American School serving as the Vice President of Production of Plastofoam. 
        Ready to set up lab in her own home, Tanisha offers experimental advice and direction to the company's production cycle, 
        bringing you ideas and sustainability in product choice—from recycled coasters to recycled earrings—like never before!
      </p>
    </div>
    <div class="right">
      <p>Sarina Ke</p>
      <img src="/images/sarina.png"/>
      <p>Vice President of Public Relations, Sarina Ke serves to globalize our interests to corporations internationally. At Plastofoam, Sarina helps us collaborate with companies in retail to spread awareness about the importance of upcycling styrofoam because planetary cleanliness is our vision. On the side, Sarina can be found reading deeply into history books, or tinkering with mechanics in the laboratory at Singapore American School.


      </p>
    </div>
    <div class="left">
      <p> Anushka Parmanand</p>
      <img src="/images/anushka.png"/>
      <p>Anushka Paramanand, a student at Sigapore American School, invests herself in maximizing the consumer benefits of our products. Working to manage the finances of Plastofoam day-in and day-out, Anushka ensures that every cent spent by our consumers is well-delivered to as Vice President of Finances. 
      </p>
    </div>
    <div class="right">
      <p> Keya Agrawal</p>
      <img src="/images/keya.png"/>
      <p>Keya Agrawal, while holding interests in engineering ensures that our consumers' and staff's voices never go unheard. A student at Singapore American School and the Vice President of Human Resources, Keya works towards maximizing productivity and ensuring that Plastofoam's values towards environmental sustainability are never compromised.


      </p>
    </div>
    <div class="left">
      <p> Arshia Mehra</p>
      <img src="/images/arshia.png"/>
      <p>Tanisha is a student at Singapore American School serving as the Vice President of Production of Plastofoam. 
        Ready to set up lab in her own home, Tanisha offers experimental advice and direction to the company's production cycle, 
        bringing you ideas and sustainability in product choice—from recycled coasters to recycled earrings—like never before!
      </p>
    </div>
    <div class="right">
      <p> Emma Li</p>
      
      <img src="/images/sarina.png"/>
      <p>Tanisha is a student at Singapore American School serving as the Vice President of Production of Plastofoam. 
        Ready to set up lab in her own home, Tanisha offers experimental advice and direction to the company's production cycle, 
        bringing you ideas and sustainability in product choice—from recycled coasters to recycled earrings—like never before!
      </p>
    </div>
    <div class="left">
      <p>Cynthia Lu</p>
      <img src="/images/sarina.png"/>
      <p>Tanisha is a student at Singapore American School serving as the Vice President of Production of Plastofoam. 
        Ready to set up lab in her own home, Tanisha offers experimental advice and direction to the company's production cycle, 
        bringing you ideas and sustainability in product choice—from recycled coasters to recycled earrings—like never before!
      </p>
    </div>
    <p> Applications that use the Flask framework include Pinterest,
      LinkedIn, and the community web page for Flask itself.</p>

    {% endblock %}
  </body>
</html>
