<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Ecofoam</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/journey.css') }}">
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> About Ecofoam </h1>
    <p> </p>

    <div class="intro_journey"> 
        <h1> OUR JOURNEY</h1>
        <p> As our customers, we believe you deserve to have full transparency with regards to our background, process, and the development of our products. We respect you, and that's why we're telling you our story.</p>
    </div>
<div class="row"> 
    <div class=column>
        <h1>8</h1>  <!--Change to an actual timer to count the number of months-->
        <h2>MONTHS</h2>
    </div>
    <div class=column>
        <h1>20</h1>
        <h2>DAYS</h2>
    </div>
    <div class=column>
        <h1>6</h1>
        <h2>HOURS</h2>
    </div>
</div> 

<div class="text-center">
    <p> SPENT INNOVATING</p>
</div>
<!--Insert Image Of Timeline-->
    {% endblock %}
  </body>
</html>
